@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Cygre-Black';
    src: url('assets/fonts/Cygre-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Cygre-Bold';
    src: url('assets/fonts/Cygre-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cygre-ExtraBold';
    src: url('assets/fonts/Cygre-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cygre-Light';
    src: url('assets/fonts/Cygre-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Cygre-Medium';
    src: url('assets/fonts/Cygre-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Cygre-SemiBold';
    src: url('assets/fonts/Cygre-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cygre-Thin';
    src: url('assets/fonts/Cygre-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Cygre-Book';
    src: url('assets/fonts/Cygre-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'Cygre-Regular';
    src: url('assets/fonts/Cygre-Regular.ttf') format('truetype');
}

body {
    background-color: #000;
    padding: 0;
    margin: 0;
    color: #fff;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
}